@charset "UTF-8";

.header {
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #18286F;
	position: fixed;
	height: 30px;
	width: 100%;
	padding: 10px 0 3px 50px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.header-img {
	margin-top: 0;
	max-width: 80%;
	max-height: 80%;
}

.footer {
	z-index: 100;
	position: fixed;
	text-align: right;
	background: #18286F;
	font-size: 13px;
	color: #8B8878;
	padding: 5px 10px 5px 10px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 15px;
	width: 99%;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
}

body {
	margin: 0;
	font-family: 'open_sansregular'; /*Helvetica*/
	background: #eee;
	-webkit-font-smoothing: antialiased;
}

.ui-autocomplete {
	background: #FFFFFF !important;
}

#clientInfoForm {
	width: 1100px;
	margin: 5em auto 2em auto;
	padding: 2em;
	background: #FFFFFF;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.cibilStatus_flag {
	position: absolute;
	left: 390px;
	top: 160px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

._status, ._result, .nonCibilStatusCls, .nonCibilStatusClsRed,
	.nonCibilStatusClsGreen, .cibilResultCls, .cibilResultClsRed,
	.cibilResultClsGreen {
	display: inline;
	font-size: 15px;
}

.nonCibilStatusClsRed, .cibilResultClsRed {
	color: red;
}

.nonCibilStatusClsGreen, .cibilResultClsGreen {
	color: green;
}

#add_content_wrap1, #add_content_wrap2, #add_content_wrap3,
	#add_content_wrap4, #add_content_wrap5 {
	width: 800px;
	padding: 5px 0px 5px 5px;
	align: center;
	outline: lightgrey 1px solid;
	margin: 0px 0px 10px 0px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.group {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
}

._text-box {
	margin: 5px 0px 5px 0px;
	font-size: 16px;
	padding: 5px 7px;
	/* 	-webkit-appearance: none; */
	/* 	background: #FFFFFF; */
	/* 	color: #636363; */
	border: lightgrey 1px solid;
	border-radius: 3px;
	/* 	border-bottom: 1px solid #757575; */
	width: 100%;
}

._text-box:focus {
	outline: none;
	border: 1px solid #000; /* #FFA500; */
}

._label {
	color: #999;
	font-size: 12px;
	pointer-events: none;
	position: absolute;
	left: 2px;
	top: -12px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.5s ease;
}

._text-box:focus ~ ._label, ._text-box.animation ~ ._label {
	/* 	top: -13px; */
	/*  	-webkit-transform: scale(.75);  */
	/* 	transform: scale(.75); */
	/*  	left: -2px;  */
	color: #000000; /* #FFA500 */
}

/* Custom Radio button*/
input[type='radio'] {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: none;
	border-radius: 50%;
	outline: none;
	box-shadow: 0 0 5px 0px gray inset;
}

input[type='radio']:hover {
	box-shadow: 0 0 5px 0px orange inset;
}

input[type='radio']:before {
	content: '';
	display: block;
	width: 60%;
	height: 60%;
	margin: 20% auto;
	border-radius: 50%;
}

input[type='radio']:checked:before {
	background: orange;
}

._posTemp {
	position: relative;
	top: -15px;
}

/**********end custom radio button*/
.table1, .table2, .table3 {
	border-collapse: collapse !important;
}

.table1 td, .table2 td, .table3 td {
	background-color: #fff !important;
	padding: 8px 14px 8px 14px;
}

.table2 {
	margin: 0px 0px 20px 0px;
}

.table3 {
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.table-bordered td {
	border: 1px solid #ddd !important;
}

select {
	font-family: 'open_sansregular';
	border-radius: 2px;
	border: 1px solid #4a89dc;
	cursor: pointer;
	text-align: center;
}

select:active::before {
	outline: none;
}

.button {
	position: relative;
	padding: 10px 20px;
	margin: .3em 0 1em 0;
	vertical-align: middle;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	letter-spacing: 1px;
	background: transparent;
	border: 0;
	border-radius: 1px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.button:active {
	outline: 0;
	box-shadow: none;
}

.buttonBlue {
	background: #4a89dc;
	text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover {
	background: #357bd8;
}

#btnSubmit {
	positiona: relative;
	top: 20px;
	left: 250px;
}

#btnAdd:hover {
	cursor: pointer;
}

._inline-group {
	display: inline-block;
}

._primaryDetails {
	float: left;
	padding: 0px 25px 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

._residenceAddress, ._officeAddress, ._phoneType {
	float: right;
	padding: 0px 25px 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

._selectDropdowns {
	padding: 32px 20px 30px 20px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
	float: left;
}

#n_o_b, #r_o_s, #b_o_s, #b_v, #geo, #g_l, #a_f_a {
	width: 100%;
}

._commercialDetails {
	float: right;
	padding: 10px 40px 10px 20px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

._picNaibd {
	float: right;
	margin-right: 44px;
}

._identityProof {
	padding: 1px 0px 5px 10px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

._averageInward {
	padding: 10px 30px 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

._searchByClientName {
	margin: 0px 30px;
}

._popUp {
	position: absolute;
	left: 320px;
	top: 800px
}

#confirmation_green {
	color: #00FF00;
}

#confirmation_red {
	color: #FF0000
}

/* File upload button*/
.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
}

.btnGoToSearchPage {
	float: right;
	width: 50%;
}

/* validation effects */
input:required {
	/* border: 1px solid blue; */
	
}

input:valid {
	color: black !important;
	border: 1px solid grey !important;
}

input:invalid {
	color: red !important;
	border: 1px solid #F00 !important;
}

._hideSubmit {
	display: none;
}

.custom-file-input::before {
	content: 'Browse';
	display: inline-block;
	background: #fff; /*-webkit-linear-gradient(top, #f9f9f9, #e3e3e3);*/
	border: 1px solid grey;
	border-radius: 3px;
	padding: 8px 13px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 10pt;
	color: grey;
}

.custom-file-input:hover::before {
	border-color: #4a89dc;
	background: #4a89dc;
	color: #FFFFFF;
}

.custom-file-input:active::before {
	background: #e3e3e3;
	/*-webkit-linear-gradient(top, #e3e3e3, #f9f9f9);*/
}

/* Confirmation pop-up*/
#bg_fade {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	/*z-index:5; */
	width: 100%;
	height: 100%;
	display: none;
}

#pop_up {
	height: 150px;
	width: 700px;
	margin: 0 auto;
	position: relative;
	top: -500px z-index: 100000;
	display: none;
	background: #FFFFFF;
	/*border:1px solid #cccccc; */
	border-radius: 4px;
	padding: 30px 0px 0px 0px;
}

#pop_up:target, #pop_up:target+#bg_fade {
	display: block;
	opacity: 2;
}

.btnDone {
	background: transparent;
	color: grey;
	position: relative;
	padding: 10px 20px;
	margin: 30px 0px 0px 0px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 1px;
	outline: lightgrey 1px solid;
	border: 0;
	cursor: pointer;
}

.btnDone:hover {
	background: #4a89dc;
	outline: #4a89dc 1px solid;
	color: #FFFFFF;
}

/***********************__________add-content___________***************************/
/*ADD BUTTON*/
.editANDdownl-img {
	width: 25px;
	height: 25px;
	background: #FFFFFF;
	cursor: pointer;
}

.btnUpdate {
	align: center;
	border: none;
	ouline: none;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 16px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
	background: #4a89dc;
	outline: #4a89dc 1px solid;
}

.btnUpdate:hover {
	background: #357bd8;
}

.btnUpdate:active {
	outline: none;
	background: #4a89dc;
}
/******************** Pull CIBIL button**************/
.progress-button {
	display: inline-block;
	font-size: 17px;
	color: #fff !important;
	text-decoration: none !important;
	padding: 5px 10px;
	line-height: 1;
	overflow: hidden;
	position: relative;
	box-shadow: 0 1px 1px #ccc;
	border-radius: 2px;
	background-color: #64c896;
	background-image: -webkit-linear-gradient(top, #64c896, #5fbd8e);
	background-image: -moz-linear-gradient(top, #64c896, #5fbd8e);
	background-image: linear-gradient(top, #64c896, #5fbd8e);
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px !important;
}

/*  Hide the original text of the button. Then the loading or finished
    text will be shown in the :after element above it. */
.progress-button.in-progress, .progress-button.finished {
	color: transparent !important;
}

.progress-button.in-progress:after, .progress-button.finished:after {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	padding-top: inherit;
	color: #fff !important;
	left: 0;
}

/*  If the .in-progress class is set on the button, show the
    contents of the data-loading attribute on the butotn */
.progress-button.in-progress:after {
	content: attr(data-loading);
}

/* The same goes for the .finished class */
.progress-button.finished:after {
	content: attr(data-finished);
}

/* The colorful bar that grows depending on the progress */
.progress-button .tz-bar {
	background-color: #e667c0;
	height: 3px;
	bottom: 0;
	left: 0;
	width: 0;
	position: absolute;
	z-index: 1;
	border-radius: 0 0 2px 2px;
	-webkit-transition: width 0.5s, height 0.5s;
	-moz-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
}

.progress-button .tz-bar.background-vertical {
	height: 0;
	top: 0;
	width: 100%;
	border-radius: 2px;
}
/**************************************************/
/*											 PANEL												*/
/**************************************************/
.panel-group {
	margin-bottom: 20px
}

.panel-group .panel {
	margin-bottom: 0;
	border-radius: 4px
}

.panel-group .panel+.panel {
	margin-top: 5px
}

.panel-group .panel-heading {
	border-bottom: 0
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body
	{
	border-top: 1px solid #ddd
}

.panel-group .panel-footer {
	border-top: 0
}

.panel-group .panel-footer+.panel-collapse .panel-body {
	border-bottom: 1px solid #ddd
}
/**************************/
.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child
	{
	border-bottom: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child
	{
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.panel-heading+.list-group .list-group-item:first-child {
	border-top-width: 0
}

.list-group+.panel-footer {
	border-top-width: 0
}

.panel>.panel-collapse>.table, .panel>.table, .panel>.table-responsive>.table
	{
	margin-bottom: 0
}

.panel>.panel-collapse>.table caption, .panel>.table caption, .panel>.table-responsive>.table caption
	{
	padding-right: 15px;
	padding-left: 15px
}

.panel>.table-responsive:first-child>.table:first-child, .panel>.table:first-child
	{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child,
	.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,
	.panel>.table:first-child>tbody:first-child>tr:first-child, .panel>.table:first-child>thead:first-child>tr:first-child
	{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,
	.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,
	.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,
	.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,
	.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,
	.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,
	.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,
	.panel>.table:first-child>thead:first-child>tr:first-child th:first-child
	{
	border-top-left-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,
	.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,
	.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,
	.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,
	.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,
	.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,
	.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,
	.panel>.table:first-child>thead:first-child>tr:first-child th:last-child
	{
	border-top-right-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child, .panel>.table:last-child
	{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,
	.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child,
	.panel>.table:last-child>tbody:last-child>tr:last-child, .panel>.table:last-child>tfoot:last-child>tr:last-child
	{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,
	.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,
	.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
	.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,
	.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,
	.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,
	.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
	.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child
	{
	border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,
	.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,
	.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
	.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,
	.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,
	.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,
	.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
	.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
	border-bottom-right-radius: 3px
}

.panel>.panel-body+.table, .panel>.panel-body+.table-responsive, .panel>.table+.panel-body,
	.panel>.table-responsive+.panel-body {
	border-top: 1px solid #ddd
}

.panel>.table>tbody:first-child>tr:first-child td, .panel>.table>tbody:first-child>tr:first-child th
	{
	border-top: 0
}

.panel>.table-bordered, .panel>.table-responsive>.table-bordered {
	border: 0
}

.panel>.table-bordered>tbody>tr>td:first-child, .panel>.table-bordered>tbody>tr>th:first-child,
	.panel>.table-bordered>tfoot>tr>td:first-child, .panel>.table-bordered>tfoot>tr>th:first-child,
	.panel>.table-bordered>thead>tr>td:first-child, .panel>.table-bordered>thead>tr>th:first-child,
	.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,
	.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,
	.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,
	.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,
	.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,
	.panel>.table-responsive>.table-bordered>thead>tr>th:first-child {
	border-left: 0
}

.panel>.table-bordered>tbody>tr>td:last-child, .panel>.table-bordered>tbody>tr>th:last-child,
	.panel>.table-bordered>tfoot>tr>td:last-child, .panel>.table-bordered>tfoot>tr>th:last-child,
	.panel>.table-bordered>thead>tr>td:last-child, .panel>.table-bordered>thead>tr>th:last-child,
	.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child, .panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,
	.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child, .panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,
	.panel>.table-responsive>.table-bordered>thead>tr>td:last-child, .panel>.table-responsive>.table-bordered>thead>tr>th:last-child
	{
	border-right: 0
}

.panel>.table-bordered>tbody>tr:first-child>td, .panel>.table-bordered>tbody>tr:first-child>th,
	.panel>.table-bordered>thead>tr:first-child>td, .panel>.table-bordered>thead>tr:first-child>th,
	.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,
	.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th,
	.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,
	.panel>.table-responsive>.table-bordered>thead>tr:first-child>th {
	border-bottom: 0
}

.panel>.table-bordered>tbody>tr:last-child>td, .panel>.table-bordered>tbody>tr:last-child>th,
	.panel>.table-bordered>tfoot>tr:last-child>td, .panel>.table-bordered>tfoot>tr:last-child>th,
	.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td, .panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,
	.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td, .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th
	{
	border-bottom: 0
}

.panel>.table-responsive {
	margin-bottom: 0;
	border: 0
}

.panel-group {
	margin-bottom: 20px
}

.panel-group .panel {
	margin-bottom: 0;
	border-radius: 4px
}

.panel-group .panel+.panel {
	margin-top: 5px
}

.panel-group .panel-heading {
	border-bottom: 0
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body
	{
	border-top: 1px solid #ddd
}

.panel-group .panel-footer {
	border-top: 0
}

.panel-group .panel-footer+.panel-collapse .panel-body {
	border-bottom: 1px solid #ddd
}

.panel-default {
	border-color: #ddd;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd
}

.panel-default>.panel-heading .badge {
	color: #f5f5f5;
	background-color: #333
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ddd
}

.panel-primary {
	border-color: #337ab7
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #337ab7
}

.panel-primary>.panel-heading .badge {
	color: #337ab7;
	background-color: #fff
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #337ab7
}

.panel-success {
	border-color: #d6e9c6
}

.panel-success>.panel-heading {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #d6e9c6
}

.panel-success>.panel-heading .badge {
	color: #dff0d8;
	background-color: #3c763d
}

.panel-success>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #d6e9c6
}

.panel-info {
	border-color: #bce8f1
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #bce8f1
}

.panel-info>.panel-heading .badge {
	color: #d9edf7;
	background-color: #31708f
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #bce8f1
}

.panel-warning {
	border-color: #faebcc
}

.panel-warning>.panel-heading {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #faebcc
}

.panel-warning>.panel-heading .badge {
	color: #fcf8e3;
	background-color: #8a6d3b
}

.panel-warning>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #faebcc
}

.panel-danger {
	border-color: #ebccd1
}

.panel-danger>.panel-heading {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ebccd1
}

.panel-danger>.panel-heading .badge {
	color: #f2dede;
	background-color: #a94442
}

.panel-danger>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ebccd1
}

/*********/
.panel-body:after, .panel-body:before, .row:after, .row:before {
	display: table;
	content: " "
}

.panel-body:after, .row:after {
	clear: both
}
/*************************/
.panel-default {
	border-color: #ddd
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd
}

.panel-default>.panel-heading .badge {
	color: #f5f5f5;
	background-color: #333
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ddd
}
/***********************/
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel-heading>.dropdown .dropdown-toggle {
	color: inherit
}
/****************************/
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit
}

.panel-title a {
	text-decoration: none;
}

.panel-title a:hover {
	text-decoration: underline;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small,
	.panel-title>small>a {
	color: inherit
}
/******************************/
[data-toggle=buttons]>.btn input[type=checkbox], [data-toggle=buttons]>.btn input[type=radio],
	[data-toggle=buttons]>.btn-group>.btn input[type=checkbox], [data-toggle=buttons]>.btn-group>.btn input[type=radio]
	{
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none
}
/*******************************/
.collapse {
	display: none
}

.collapse.in {
	display: block
}

tr.collapse.in {
	display: table-row
}

tbody.collapse.in {
	display: table-row-group
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	-o-transition-duration: .35s;
	transition-duration: .35s;
	-webkit-transition-property: height, visibility;
	-o-transition-property: height, visibility;
	transition-property: height, visibility
}
/*******************************/
.panel-body:after, .panel-body:before, .row:after, .row:before {
	display: table;
	content: " "
}

.panel-body:after, .row:after {
	clear: both
}

.panel-body {
	padding: 15px;
}

/***************************/
/*       Search Page       */
/***************************/
#searchPage {
	margin: 80px 0px 0px 0px;
}

#btnSearch {
	margin: 50px 0px;
}